html,body {
  background-color:black;
  color:white;
  padding:0;
  margin:0;
}


.light {
  height:80px;
  width:80px;
  background-color:white;
  border-radius:300px;
  position: absolute;
  color:black;
  text-align: center;
  line-height:30px;
  filter:blur(5px);
  opacity: 0;

  transition: all 1s linear, transform 2s linear;

  &.blur {
    filter:blur(80px);
  }
}
